<main class="container">
  <div class="row">
    <div class="login_box col-md-6 col-md-offset-3">
      <div class="row login_title col-md-10 col-md-offset-1">
        <p>Olvidé mi contraseña</p>
      </div>
      <div class="row login_form col-md-10 col-md-offset-1">
        <app-alert></app-alert>
        <form>
          <!-- NOTAS -->
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input type="email" class="form-control" name="email" PlaceHolder="Introduzca su correo electrónico" [(ngModel)]="email">
          </div>
          <button type="submit" class="btn btn-primary btn-block" (click)="recordarPassword()">Enviar</button>
          <div class="form-group col-md-12 ">
            <p class="help-block col-md-5"><a [routerLink]="['/login']" routerLinkActive='active'>Iniciar sesion</a></p>
          </div>
        </form>

      </div>
    </div>
  </div>
</main>